
body {
  font-family: "roboto",sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: black;
  background-color: #fff;
}
a {
  color: #4b4a49;
  text-decoration: none;
}
a:hover{color: black;}
img{max-width:100%;}
img.alignleft{
    float: left;
    margin: 0 1.8em 0.5em 0;
}
.content-page{font-family:'roboto', sans-serif;font-weight:100;font-size:1.2em;line-height:1.8em; text-align:justify;}
.left{float: left;}
.right{float: right;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.color-white{color: white;}
.nopadding{padding: 0;}
form input.txt-search.form-control{
	padding: .45em 0.5em;
	font-size: 13px;
	font-family: 'roboto',sans-serif;
	width: 100%;
	color: #4b4a49;
	border: 1px solid #DCDCDC;
	border-radius:0;
	padding-right: 2.5em;
}
.box-search{position: relative;}
.form-search{position:relative;padding: 1em 1em;background-color: #F7F7F7;}
.btn-search{
	position:absolute;
	right:0;
	width:2.5em;
	top:0;
	border: 0;
	height:100%;
	background-image: url('../img/icon-search.png');
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position-x: center;
	background-position-y: center;
}
.btn-search:hover{background-color: #DDE8F7;}
ul{padding: 0;}
.btnRegistrar{background-color: #f5504a;color: white !important;font-family: "montserrat",sans-serif; color: white;-webkit-transition-duration: 0.32s;}
.btnRegistrar:hover{
    background-color: #F92F27;
}
/*RESPONSIVE*/
@media (min-width: 320px){
	.Wrapper{margin: 0 auto;max-width: 1140px;overflow: hidden;}

	/*HEADER*/
	header{	}
	.top-menu{background: #aeaeae;color: #4b4a49;font-size: 11px;line-height: 1.85em;display: none;}
	.top-menu ul > li{ display: inline-block;}
	.top-menu ul{margin-bottom:.8em;margin: 0;}
	.top-menu ul > li:last-child > a{border-right:0;}
	.top-menu ul > li > a {		color: #4b4a49;padding: 0 1em;border-right: 1px solid gray;}

	.logo{
	
padding: .5em 0;
	
position: relative;
	}
	.logo img{
	
		width: 140px;
	}
	
	.menu-menu-principal-container{
		display:none;
		position: relative;
		z-index: 999;
	}
	.menu{
	    padding: 0;
	    font-size: 0;
	}
	.menu > li{ display: block;background-color: #0054A6;font-size: 12px;text-align: left;}
	.menu > li > a{display: block;width: auto;border-right: 1px solid white;background-color: #F5F5F5;color: #0054A6;text-transform: uppercase;font-weight: 700;border-bottom: 1px solid #AEBFD0;padding: 1.168em 1em;-webkit-transition-duration: .2s;text-decoration: none;}
	.menu > li:last-child > a{border-right:0;}
	.menu > li > a:hover{
	    background-color: #0f76d7;
	    color: white;
	}
	.redes{text-align: right;margin-top: -2em;display: none;margin-bottom: 0.8em;}
	.redes > span{
		display: inline-block;
		margin-left: .5em;
	}
	.redes > span > a{
		-webkit-transition-duration:0.5s;
	}
	.redes > span > a:hover{
		-webkit-transform:scale(1.1);
	}
	

	/*HOME*/
	div.home-content{margin-bottom: 4em;}
	.form-boletin{
	    background-color: #f7f7f7;
	    margin: 0 5%;
	    margin-bottom: 1em;
	}
	.form-boletin h3{margin:0;padding: .2em 2em;font-family: 'montserrat';font-size: 16px;text-align: center;background-color: #4b4a49;color: white;}
	.control-form{
		padding: 1em 5%;
		text-align: center;
	}
	.control-form > label{font-size:12px;font-weight:300;text-align: center;width: 100%;color: #4B4A49;margin-top: .5em;margin-bottom: 1em;}
	.control-form > label > input{width:auto;}
	.control-form  input{
		
	}
	.control-form  input[type="text"],input[type="email"]{
		padding: .3em 0.5em;
		font-size: 13px;
		font-family: 'roboto',sans-serif;
		width: 100%;
		margin: 0 0 .5em;
		color: #4b4a49;
		border: 1px solid #DCDCDC;
	}
	.control-form  input[type="submit"]{
	    border: 0;
	    padding: .5em 3em;
	    border-radius: 3px;
	    max-width: 100%;
	}	
	.aside-left, .noticias-home{
		float: none;
		width: auto;
		padding: 0;
		overflow: hidden;
	}
	.noticias-interna{
    margin-bottom: 3.5em;
}
	
	
	.title-home-noticia-destacada{
    	font-size: 2.2em;
    	text-transform: uppercase;
    	font-family: 'montserrat',sans-serif;
    	margin: .5em 0 .9em;
    	text-align: center;
    	border-bottom: 1px dashed gray;
    	color: #4b4a49;
 	}
	.btn-home{text-align:center;margin-bottom: 2em;overflow: hidden;}
	.btn-home > div > div{
	    float: none;
	    display: inline-block;
	    margin: .5em;
	    padding: 0;
	    min-width: 185px;
	}
	.btn-home  a{
		
		height: 55px;
				
		width: 100%;
				
		font-size: 0;
				
		color: white;
				
		background-color: #0f76d7;
				
		font-family: 'montserrat', sans-serif;
				
		font-weight: 700;
				
		vertical-align: middle;
				
		display: inline-table;
				
		-webkit-transition-duration: 0.5s;
				
		text-decoration: none;
	}
	.btn-home  a:hover{
	    background-color: #0B66CE;
	}
	.btn-icon, .btn-text{

		font-size: 16px;

	}
	.btn-icon{
		width: 110%;
		background-color: #0b66ce;
		height: 100%;
		float: left;
		position: relative;
		overflow: hidden;
	}
	.btn-icon > span{
		width: 100%;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        
        position: absolute;
        top: 0;
        left: 0;
	}
	.btn-icon > .icon-left, .btn-icon > .icon-right{
		webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	    transition: opacity 0.35s, transform 0.35s;
	    
	}
	.btn-icon > .icon-left{
		-webkit-transform: translate3d(-90px,0,0);
	    transform: translate3d(-90px,0,0);
	}
	.btn-icon > .icon-right{
		-webkit-transform: translate3d(0px,0,0);
	    transform: translate3d(0px,0,0);
	}
	.icon-personas{background-image: url('../img/icon-personas.png');}
	.icon-libro{background-image: url('../img/icon-libro.png');}
	.icon-libros{background-image: url('../img/icon-libros.png');}
	.btn-text{
		/* height: 100%; */
		width: 77%;
		line-height: 1em;
		font-size: 14px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
	}
	.btn-home a:hover .icon-left{
		opacity: 1;
	    -webkit-transform: translate3d(0px,0,0);
	    transform: translate3d(0px,0,0);
	}
	.btn-home a:hover .icon-right{
		opacity: 1;
	    -webkit-transform: translate3d(90px,0,0);
	    transform: translate3d(90px,0,0);
	}
	.ultimas-noticias{

margin-bottom: 0;

overflow: hidden;

}

	.ultimas-noticias  article{
		display: inline-block;
		text-align: justify;
		min-height: 350px;
		vertical-align: top;
		margin-bottom: 1em;
		min-width: 240px;
		color: #4b4a49;
	}
	.ultimas-noticias  article > h3{
	    font-family: 'montserrat', sans-serif;
	    line-height: 1.18em;
	    margin: .5em 0;
	    font-weight: 700;
	    font-size: 14px;
	}
	.ultimas-noticias  article > p{
		font-size: 13px;
		color: #5A5A5A;
		font-weight: 300;
		margin: .5em 0 0;
	}
	.ultimas-noticias .image-noticia{

		display: block;

		min-height: 145px;

		background-color: wheat;

		margin-bottom: 1em;

		background-size: cover;

		position: relative;

		background-position: 0;
	}
	.image-noticia img{}
	.fecha-noticia{}
	.fecha-noticia > small{
		color: #f5504a;
		font-weight: 700;
	}

	.banner { position: relative; margin-bottom: 2em;overflow: auto; }
    .banner li { list-style: none; }
    .banner ul{margin:0;}
        .banner ul li { float: left; }
        .banner-image{width: 100%;min-height: 385px;background-size: cover;}
        .banner-desc{position: relative;color: white;font-family: 'montserrat', sans-serif;font-weight: 700;font-size: 2.65em;line-height: 1.3em;max-width: 410px;}
		.banner-link, .banner-desc{
		    margin: 5%;
		}	
		.banner-link{}	

	/*NOTICIAS*/
	.articulos-destacados, .interna-content-noticia{
		float: left;
		font-size: 0;
	}
	.articulos-destacados{
		font-size: 14px;
		background-color: #f1f1f1;
		float: none;
		text-align: center;
	}
	.articulos-destacados h5{margin:.5em 0;}
	.articulos-destacados h2{
		font-family: 'montserrat', sans-serif;
		line-height: 1em;
		padding: .8em;
		background-color: #53a6f0;
		color: white;
		margin-bottom: 1.5em;
		margin-top: 0;
		font-size: 1.1em;
	}
	.articulos-destacados > article{
		padding: .5em .7em;
		margin-bottom: .5em;
		max-width: 30%;
		display: inline-block;
	}
	.articulos-destacados a.image-thumb{
		height:80px;
		display: inline-block;
		width: 100%;
		background-size: cover;
	}
	.interna-content-noticia{
		font-size: 15px;
		color: #4b4a49;
		text-align: justify;
		font-weight: 300;
		float: none;
	}
	.interna-content-noticia h1{
		font-family: 'montserrat', sans-serif;
		font-size: 2.4em;
		line-height: 1.1em;
		margin: 0 0 .3em;
		text-align: left;
		font-weight: 700;
	}
	.image-principal-noticia{width:100%;}
	.breadcrumb{
		padding: 8px 15px;
		margin: 2.5em 0;
		list-style: none;
		border-radius: 4px;
		font-size: 1.1em;
	}
	.breadcrumb>li {
	    display: inline-block;
	}
	.breadcrumb>li.active{
    font-weight: bold;
}
	.breadcrumb>li+li:before {
	    padding: 0 5px;
	    color: #ccc;
	    content: "/\00a0";
	}
	.title-page{background-size: cover;background-position: center;padding: 3.5em 0;background-image: url('../img/default-banner.png');color: #4b4a49;margin-bottom: 3.5em;}
	.heading-page{
		vertical-align: middle;
		padding-left: 1em;
		position: relative;
		font-size: 2.5em;
		font-family: 'montserrat',sans-serif;
	}
	.heading-page:before{
		content: " ";
		background-image: url('../img/arrow-red.png');
		background-repeat: no-repeat;
		background-position: 0 center;
		position: absolute;
		left: 0;
		padding: .5em;
		height: 100%;
	}
	.aside-left{
		margin-bottom:3.5em;
	}
	/*FOOTER*/
	footer{
		background-color: #4b4a49;
		overflow: hidden;
	}
	footer .left{
		width: 100%;
	}
	footer > div{overflow:hidden;padding: 3em 0 1.5em;}
	footer .left  a{color: #ededed;}
	footer .left > a > img{}
	footer .left > p{
		font-size: 12px;
		font-weight: 100;
		margin: 1.8em 0;
	}
	footer .left > p  img{width: 18px;margin: 2px 0;}
	
	.sedes-footer{

		width: 90%;

		display: block;

		font-size: 11px;

		padding: 0;

		margin: 0 5% 2em;

		list-style: none;

		text-align: center;
	}
	.sedes-footer > li{
		padding: .7em 0;
		font-weight: 100;
		color: #ededed;
		margin-left: 0;
		border-bottom: 1px dashed gray;
	}
	.sedes-footer > li:last-child{border:0;}
	.sedes-footer > li > b{
	}

	footer .right{
	}
	footer .right > img{
		
	}
	footer .right > img:first-child{margin-bottom:1em;}
	.bottom-footer{
		text-align: center;
		padding: 0;
		font-size: 12px;
		background-color: #383737;
		color: #ededed;
	}
	.btn-menu{
		position: relative;
		padding-left: 1.25em;
		font-size: 30px;
		float: right;
		width: 30px;
		height: 30px;
		cursor: pointer;
		margin: .3em .5em 0;
	}
	.btn-menu:before {
		content: "";
		position: absolute;
		left: 0;
		cursor: pointer;
		top: 0.25em;
		width: 1em;
		height: 0.15em;
		background: #636262;
		box-shadow: 0 0.25em 0 0 #636262, 0 0.5em 0 0 #636262;
	}
	footer .left, footer .right{
	    width: 100%;
	    float: none;
	    text-align: center;
	}

}
@media (max-width: 480px){
	.ultimas-noticias article{
		width: auto;
		margin: 0 5%;
	}
	.btn-home > div > div{
		padding: 1px;
		min-width: 240px;
		width: 90%;
		float: none;
		display: block;
		position: relative;
		margin: 0 auto;
	}
	.ultimas-noticias  article{min-height: initial;margin-bottom: 1.5em;}
	.articulos-destacados > article{
		min-width:100%;
	}
	.articulos-destacados a.image-thumb{
		
		height: 160px;
	}
	
}
@media (min-width: 768px){
	.title-home-noticia-destacada{text-align:left;}
	.form-boletin{margin: 0 auto;max-width: 450px;margin-bottom: 1em;}
	.ultimas-noticias article{
		
	}
	.Wrapper{

	}	
	.btn-home a{
		height: 70px;
	}
	
	
	.btn-text{
		line-height: 1em;
		font-size: 16px;
	}
	.btn-home > div > div{
		float: left;
		margin: 0;
		padding: 0 15px;
	}
	.btn-icon{}
	.top-menu{display:block;}
	.sedes-footer{
		width: 60%;
		margin: 0;
		display: inline-block;
		float: left;
		font-size: 13px;
		padding-left: 2.5em;
		list-style: initial;
	}
	.sedes-footer > li{
	    margin: 0 0 1em;
	    margin-left: 10%;
	    padding: 0;
	    border: 0;
	    text-align: left;
	}
	.interna-content-noticia{float:right;width: 80%;padding: 0 0 0 1.5em;}
	.articulos-destacados{
		/* max-width: 160px; */
		width: 20%;
		display: inline-block;
		text-align: left;
	}
	.articulos-destacados > article{
    max-width: none;
}
	footer .left, footer .right{float: left;width: 20%;text-align: left;}	
	footer .left{

	}
	footer .right{
		width: 20%;
		
		text-align: right;
	}
}
@media (min-width: 1024px){
	.Wrapper{margin: 0 auto;}
	.menu{}
	.menu > li > a{
		padding: 1.168em 0;
		border-right: 1px solid white;
		background-color: #53a6f0;
		color: white;
		border-bottom: 0;
	}
	.menu > li{
		display: inline-block;
		width: 12.4912280%;
		text-align: center;
	}
	.aside-left, .noticias-home{
		float: left;
	}
	.aside-left{
		width: 25%;
		vertical-align: top;
	}
	.noticias-home{
		width: 75%;
		padding-right: 2em;
		margin-bottom: 5em;
	}
	.logo img{
	
		width: initial;
	}
	.menu-menu-principal-container{
		display:block !important;
	}
	.btn-menu{display:none;}
	.redes{display:block;}
	.logo img{}
}